<% unless cart.line_items.empty? %>
<div class="container cart-container">

  <h2><%= t('.title') %> <i class="fas fa-shopping-cart"></i></h2>

  <table id="cart" class="table table-hover table-condensed">
    <thead>
    <tr>
      <th><%= t('.product') %></th>
      <th colspan="2" class="hidden-xs"></th>
      <th><%= t('.price') %></th>
      <th class="text-center"><%= t('.quantity') %></th>
      <th class="text-center"><%= t('.subtotal') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <%= render(cart.line_items) %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3" class="hidden-xs"></td>
      <td class="hidden-xs text-center"><strong><%= t('.total') %> <%= number_to_currency(cart.total_price) %></strong></td>
      <td>
        <%= button_to t('.checkout'), new_order_path(locale: I18n.locale),
                      method: :get,
                      class: "btn btn-success btn-block"%>
      </td>
      <td>
        <%= button_to t('.empty'), cart,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "btn btn-danger btn-block" %>
      </td>
      <td></td>
    </tr>
    </tfoot>
  </table>
</div>
<% end %>