
<div class="container justify-content-center" >
  <% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Products</h1>
    </div>
    <div class="col-6">
      <div class="search">
        <%= form_tag(products_path, :method => "get", id: "search-form", class: "form-inline") do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], placeholder: "Search", class:"form-control" %>
            <%= button_tag(type: "submit", class: "input-group-text") do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div class="row justify-content-center">
    <table class="table">
      <tfoot>
      <tr>
        <td colspan="3">
          <%= link_to raw("<i class=\"fas fa-plus\"></i> New Product"), new_product_path, class: "btn btn-primary" %>
        </td>
      </tr>
      </tfoot>
      <tbody>
      <% @products.each do |product| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td class="image">
            <%= image_tag(product.image_url, class: 'list_image img-fluid') %>
          </td>
          <td class="description">
            <h1><%= product.title %></h1>
            <p>
              <%= truncate(strip_tags(product.description),
                           length: 80) %>
            </p>
            <% if product.category %>
              <p>
                <strong>Category:</strong>
                <%= product.category.name %>
              </p>
            <% end %>
            <p>
              <strong>Created:</strong>
              <%= product.created_at %>
            </p>
          </td>
          <td class="actions">
            <ul>
              <li><%= link_to raw("<i class=\"fas fa-eye\"></i>"), product, class: "btn btn-info btn-sm" %></li>
              <li><%= link_to raw("<i class=\"fas fa-edit\"></i>"), edit_product_path(product), class: "btn btn-warning btn-sm" %></li>
              <li>
                <%= link_to raw("<i class=\"fas fa-trash-alt\"></i>"),
                            product,
                            method: :delete,
                            class: "btn btn-danger btn-sm",
                            data: { confirm: 'Are you sure?' } %>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>