<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PC Shop</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application',
                             'data-turbolinks-track': 'reload' %>
  <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
  </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<header class="main">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/<%= I18n.locale %>"><%= t('.home') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/about_us"><%= t('.about-us') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/contacts"><%= t('.contact') %></a>
        </li>

      </ul>

    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="/<%= I18n.locale %>"><i style="font-size:16px;" class="fas fa-desktop"></i> PC Shop </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <% if session[:user_id] %>

        <li class="nav-item"><%= link_to t('.orders') , orders_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to t('.products'), products_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to t('.users'), users_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to t('.logout'), logout_path(locale: I18n.locale), method: :delete, class:'nav-link' %></li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/login"><%= t('.login') %></a>
          </li>
        <% end %>

        <%= form_tag store_index_path, class: 'locale' do %>
          <%= select_tag 'set_locale',
                         options_for_select(LANGUAGES, I18n.locale.to_s),
                         onchange: 'this.form.submit()',
                         class: 'locale-btn' %>
          <%= submit_tag 'submit', id: "submit_locale_change" %>
        <% end %>

      </ul>
      <% if @cart %>
        <a class="shopping-cart" id="cart-btn" data-toggle="collapse" href="#cartCollapse" role="button" aria-expanded="false" aria-controls="cartCollapse">
            <span class="fa-stack">
              <i class="fas fa-shopping-cart"></i>
              <span class='badge badge-warning' id='lblCartCount'> <%= @cart.line_items.sum('quantity') %> </span>
            </span>
        </a>
      <% end %>
    </div>
  </nav>
</header>
<div class="container justify-content-center">
  <section class="content">
    <div class="row">
      <div class="col-12">
        <% if @cart %>
          <div class="collapse" id="cartCollapse">
            <div id="cart" class="carts">
              <%= render_if @cart && @cart.line_items.any?, @cart %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">

      <div class="col-12">
        <main class='<%= controller.controller_name %>'>
          <%= yield %>
        </main>

      </div>
    </div>


  </section>
</div>

</body>
</html>